<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>질병 예측</h2>
<form method="post" action="result">
    나이: <input type="text" name="age"><br>
    성별:
    <select name="sex">
        <option value="f">여자</option>
        <option value="m">남자</option>
    </select><br>
    가슴 통증 여부:
    <select name="cp">
        <option value="n">무증상</option>
        <option value="y">증상</option>
    </select><br>
    휴식 중 혈압: <input type="text" name="trtbps"><br>
    혈중 콜레스테롤: <input type="text" name="chol"><br>
    공복 혈당: <input type="text" name="fbs"><br>
    휴식 중 심전도 결과:
    <select name="ecg">
        <option value="n">정상</option>
        <option value="y">이상</option>
    </select><br>
    최대 심박수: <input type="text" name="thalach"><br>
    운동 유발성 협심증:
    <select name="exang">
        <option value="n">없음</option>
        <option value="y">있음</option>
    </select><br>
    휴식 대비 운동으로 인한 ST 하락 폭: <input type="text" name="oldspeak"><br>
    활동 ST분적 피크의 기울기:
    <select name="sl">
        <option value="n">평탄</option>
        <option value="y">하강 또는 상승</option>
    </select><br>
    형광투시법으로 확인된 이상 혈관 여부:
    <select name="ca">
        <option value="n">없음</option>
        <option value="y">있음</option>
    </select><br>
    <input type="submit" value="확인">
</form>
</body>
</html>